@import '../../components/_styleVars.scss';
.modal {
    height: auto;
}
.ui.small.modal.forgotPasswordModal{
    box-sizing:border-box;
    padding: 30px 70px;
    position: relative !important;
    height:  386px !important;
    a.mClose {
        position: absolute;
        top: 12px;
        right: 12px;
        text-align: center;
        line-height: 43px;
        transition: all .35s;
        cursor: pointer;
        i.link.icon {
            cursor: pointer;
            opacity: 1;
            transition: opacity .1s ease;
            font-size: 16px;
            margin: 0;
            color: #666;
        }
        &:hover{
            .link.icon {
                color: $baseColor;
            }
        }
    }
    .header{
        text-align: center;
        border-bottom:0px !important;

        h3{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 0;
            white-space: nowrap;
            @media(max-width: 767px) {
                font-size: 18px;
            }
        }
        span{
            font-size: 14px;
            font-weight: 400;
            color: $lightColor;
            @media(max-width: 767px) {
                font-size: 14px;
            }
        }
    }
    .resetButton{
        background: $baseColor;
        color: #fff;
        width: 100%;
        height: 54px;
        border-radius: 5px;
        border:2px solid $baseColor;
        transition: all .35s;
        &:hover{
            background: #fff !important;
            color: $baseColor !important;
        }
    }
   .description {
       img {
           max-width: 30%;
           margin-bottom: 40px;
       }
   }
}


.ui.form .field>label {
    text-align: left;
}