@import './_styleVars.scss';

.beforeLoginHeader {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  &.bg {
    background: #00adee;
  }
  .ui.container {
    width: 100%;
    max-width: 90% !important;
    @media(max-width: 767px) {
      max-width: 100% !important;
      margin: 0 !important;
    }
}
  .header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    align-items: center;
    .headerLeft {
      display: flex;
      align-items: center;
      .navBtn {
        display: none;
        position: absolute;
        right: 18px;
        top: 41%;
        transform: translateY(-50%);
        @media(max-width: 767px) {
          display: block;
        }
      }
  
      a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        background: url(../images/logo.png) no-repeat;
        width: 244px;
        height: 46px;
        font-size: 0;
        background-size:contain;
        @media(max-width: 991px) {
          width: 190px;
          height: 35px;
        }
      }
    }
  
    .headerRight {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
  
      .r-nav {
        display: flex;
  
        li {
          color: #a1b0ce;
          font-size: 14px;
          padding: 0 11px;
          font-weight: 500;
          font-family: Montserrat, sans-serif;
  
          a {
            text-decoration: none;
          }
  
          &.hasLoginBtn {
            a {
              color: #fff;
              font-size: 14px;
              padding: 10px 25px;
              background: $baseColor;
              font-weight: 500;
              border-radius: 50px;
              border: 2px solid $baseColor;;
              font-family: Montserrat, sans-serif;
              transition: all .25s;
  
              &:hover {
                border-color: #fff;
                color: #fff;
                background: 0 0;
              }
            }
          }
  
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
    
    .top-rgt-nav {
      margin-bottom: 0;
      @media(max-width: 767px) {
        //margin-right: 40px;
      }

      li {
        display: inline-block;
        margin-right: 23px;
        &:last-child{
          margin-right: 0;
        }
       &.register-mob {
         //display: none;
         @media(max-width:767px) {
           display: inline-block;
           margin-right: 0;
         }
       }
        @media(max-width:767px) {
          //&:nth-child(1), &:nth-child(2) {
          //  display: none;
          //}
        }
        a {
          color: #fff !important;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
        a.purple-btn{
          background: #3e58a5;
          color: #fff;
          border-radius: 8px !important;
          padding: 14px 30px !important;
          font-size: 14px !important;
          &:hover {
            background: #294494;
            transition: all ease 0.5s;
            text-decoration: none;
          }
          @media(max-width:767px) {
            border-radius: 4px !important;
            padding: 10px 20px !important;
          }
        }
        &.whitepaper {
          margin-right: 10px;
        }
      }
      .ui.selection.dropdown {
        background: transparent;
        color: #fff !important;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        min-width: 5em;
      }
      .ui.dropdown:not(.button) > .default.text {
        color: #fff !important;
      }
      .ui.selection.visible.dropdown > .text:not(.default) {
        color: #fff ;
        font-weight: 600;
      }
      //@media(max-width: 767px) {
      //  display: none;
      //}
    }
  }
}



.tradeBar {
  display: flex;
  flex: 1;
  background: #fff;
  height: 55px;
  margin-bottom: 18px;
  margin-top: 92px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;

  ul.rowVolume {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;

    li {
      flex: 1;
      display: flex;
      border-right: 3px solid #e1e1e1;
      padding-left: 20px;
      justify-content: center;
      flex-direction: column;

      &:first-child {
        padding-left: 0;
        font-weight: 600;
        color: $darkColor;
      }

      &:last-child {
        border-right: 0px;
      }

      h3 {
        font-size: 14px;
        font-weight: 400;
        color: #bbb9b9;
        margin-bottom: 0;
      }

      p {
        font-weight: 600;
        font-size: 15px;
        color: $darkColor;

        &.green {
          color: $greenColor;
        }
      }
    }

  }

  .ui.toggle.checkbox label {
    height: 25px;
    width: 58px !important;


    &:before {
      height: 25px;
      background: #eaeaea;
      box-shadow: inset 0 0 3 6 rgba(0, 0, 0, 0.8);
      content: 'Day';
      text-align: right;
      font-size: 9px;
      color: $darkColor;
      box-sizing: border-box;
      padding: 4px 10px 0 0;
      width: 58px;
    }
  ;

    &:after {
      width: 28px;
      height: 28px;
      background: #f3ab31;
      top: -2px;
      box-shadow: none;
      border: 0px !important;
      font-size: 15px;
      font-family: Icons;
      content: '\f185' !important;
      color: #fff;
      line-height: 28px;
    }
  }

  .ui.checked.toggle.checkbox label {
    &:before {
      height: 25px;
      background-color: #fff !important;
      box-shadow: inset 0 0 3 6 rgba(0, 0, 0, 0.8);
      content: 'Night' !important;
      text-align: left;
      font-size: 9px;
      color: $darkColor;
      box-sizing: border-box;
      padding: 4px 0 0 3px;
      width: 58px;
    }
  ;

    &:after {
      width: 28px;
      height: 28px;
      background: #f3ab31;
      top: -2px;
      box-shadow: none;
      border: 0px !important;
      font-size: 15px;
      font-family: Icons;
      content: '\f186' !important;
      color: #fff;
      line-height: 28px;
    }
  }

  .ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: #eaeaea !important;
  }
}

.navBtn {
  color: #fff;
  font-size: 2em !important; /**/
}

.sideNav {
  color: #fff;
  top: 93px !important;
  width: 320px !important;
  background: #fff;
}


.sideNav .sideNavChild {
  color: #737f92 !important;
  padding: 10px 10px 10px 30px !important;
  display: flex;
  align-items: center;
  .icon {
    font-size: 19px;
    margin-right: 0;
    color: #00adee;
    opacity: 1 !important;
  }
  &:hover {
    background: #fafafa;
  }
 
}
.sideNav .sideNavChild:hover a {
  color: #00adee !important;
}

.sideNav .sideNavChild a {
  color: #737f92 ;
  font-weight: 600 !important;
  margin-left: 15px;
}

.displayInactive {
  display: none;
}

.displayActive {
  display: block;
}

.sidebar .route-selected {
  background-color: #ddd !important;
}

.ui.container {
  max-width: 1250px !important;
}

.sideNavChild:hover a {
  color: #fff !important;
}

.sideNavChild img {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box !important;
}

.childDiv {
  border-bottom: 1px solid #737f92 !important;
  padding-bottom: 11px;
}
.ui.form .twelve.wide.field {
  width: 100% !important;
}
.ui.sidebar {
  top: 62px !important;
}
@media(max-width:450px){
  .beforeLoginHeader .header .headerLeft a{
    width: 100px;
    height: 20px;
  }
  .beforeLoginHeader .header .top-rgt-nav li a.purple-btn{
    padding:10px  9px !important;
    font-size: 13px;
  }
  .beforeLoginHeader .header .top-rgt-nav li.whitepaper{
    margin-right: 8px !important;
  }
}
