.referral{
  margin-bottom: -258px !important;
  font-family: 'Roboto', sans-serif;
}
.bgprofile{
  background: #002fa5 url(../../../images/prod/topbg.jpg) top center no-repeat;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  line-height: normal;
}
a{
  text-decoration: none !important;
}
.topBanner{
  height: 80vh;
  background: #bf0513 url(../../../images/prod/banner.jpg) center no-repeat;
  background-size:contain;
}
.topBanner img{
  width: 100%;
}
.topBanner .container{
  width: 1345px  !important;
}

.bottomBtn{
  background: #b2b2b2;
  height:20vh;

}
.bottomBtn .signup{
  font-size: 46px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #fff;
  display: inline-block;
  padding: 2px 15px !important;
  line-height: normal;
  border-radius: 2px
}
.bottomBtnin{
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bottomBtn .signin{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #fff;
  display: block;
  padding: 2px 15px !important;
  line-height: normal;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}
.logo{
  width: 300px;
  height: 58px;
  float: left;
  background: url(../../../images/prod/logo.png) top center no-repeat;
  background-size: 100%;
}
.logout{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  float: right;
}
.logout:hover{
  color: rgba(255, 255, 255, 0.8);
}
.topimgSec{
  text-align: center;
  width:100%;
}
.topimgSec img{
  width: 400px;
  display: inline-block !important;
}
.topimgSec h3{
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  margin-top: 25px;
}
.topimgSec h3 span{
  font-weight: 400;
  margin-top: 10px;
  display: block
}
.topimgSec Button{
  font-size: 45px !important;
  font-weight: 700  !important;
  color: #fff  !important;
  border: 2px solid #fff !important;
  padding: 8px 20px !important;
  margin-top: 40px !important;
  display: inline-block !important;
  text-decoration: none !important;
  line-height: normal !important;
  background: transparent  !important;
}
.RankSec{
  text-align: center;
  margin-top: 0px;
  margin: 0 auto;
  max-width: 800px;
  float: none;
}
.RankSec h4{
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  margin-top: 25px !important;
  display:inline-block;
}
.RankSec table{
  background: transparent !important;
  border: 1px solid #fff !important;
}
.RankSec table tr th{
  font-weight: 700;
  font-size: 30px;
  color: #fff !important;
  background: transparent !important;
  text-align: center !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  padding:15px !important;
}
.RankSec table tr th:last-child{
  border-right: 0 !important;
}
.RankSec table tr td{
  font-weight: 500;
  font-size: 25px;
  color: #fff !important;
  background: transparent !important;
  text-align: center !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  padding:10px 0 !important;
}
.RankSec table tr td:last-child{
  border-right: 0 !important;
}
.RankSec table tr:last-child td{
  border-bottom: 0 !important;
}
.RankSec p{
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  padding: 15px 0 0 0;
}
.RankSec ul{
  padding-left:20px !important;
  margin:15px 0 !important;
  display:inline-block;
}
.RankSec ul li{
  font-size: 20px;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  line-height: normal;
  font-weight: 400;
  list-style: disc;
}
.inputouter .button .icon{
  display: none;
}
.logo_outer{
  padding-left: 15px !important;
}
.topsec_logo{
  padding-top: 15px !important;
  margin: 0 auto !important;
}
.topsec_logo .row{
  float: left;
  width: 100%;
}
.logout_outer{
  padding-right: 0 !important;
}
@media(max-width:1024px){
  .bgprofile{
    background: #002fa5 url(../../../images/prod/topbg_mobile.jpg) top center no-repeat;
  }
  .logo{
    width: 200px;
    height: 39px;
  }
  .topimgSec h3{
    font-size: 30px;
  }
  .RankSec{
    padding: 0 10px;
  }
  .topimgSec{
    margin-top: 0px;
  }
}
@media(max-width:960px){
.inputouter .button{
      min-width:100px;
    }
}
@media(max-width:767px){
  .topsec_logo {
    padding-top: 0px !important;
    margin: auto !important;
  }
  .logo_outer{
    padding-left: 0 !important;
  }
  .logout_outer .logout{
    margin-right: -15px !important;
  }

  .logo{
    width: 150px;
    height: 29px;
  }
  .logout{
    font-size: 18px;
  }
  .topimgSec h3{
    font-size: 25px;
  }
  .topimgSec button{
    font-size: 30px !important;
  }
  .RankSec{
    padding: 0 10px;
  }
  .RankSec table tr th{
    font-size: 25px;
  }
  .RankSec table tr td{
    font-size: 20px;
  }
  .RankSec h4{
    font-size: 30px;
    margin-top: 0;
  }
  .bottomBtn .signup{
    font-size: 25px;
  }
  .bottomBtn .signin{
    font-size: 20px;
  }
  .Qr_block{
    text-align: center;
  }
  .sharedata{
    margin-left: 25px;
  }
}
@media(max-width:600px){
  .topBanner{
    height: 55vh;
  }
  .bottomBtn{
    height:45vh;
  }
  .bottomBtnin{
    flex-direction: column;
  }
  .bottomBtn .signin{
    position: relative;
    transform: none ;
    left: 0;
    right: 0;
    top:0;
    margin-top: 15px;
  }
  .bottomBtn .signin{
    font-size: 25px;
  }
}
@media(max-width:450px){
  .RankSec table tr th{
    font-size: 20px;
  }
  .RankSec table tr td{
    font-size: 16px;
  }
  .topimgSec button{
    font-size: 19px !important;
    padding: 8px 12px !important;
  }
  .topimgSec h3{
    font-size: 20px;
  }
  .topimgSec img{
    width: 300px;
    margin-bottom: 15px;
  }
  .bgprofile{
    background: #002fa5 url(../../../images/prod/topbg_mobile.jpg) center -80px no-repeat;
  }
  .RankSec ul li{
    font-size: 18px !important;
  }
  .topimgSec h3{
    margin-top: 15px;
    margin-bottom: 5px ;
  }
  .inputouter .button .icon{
    display: block !important;
    font-size: 18px !important;
    padding-top: 5px !important;
    width: auto !important;
  }
  .inputouter .button{
    font-size: 0px !important;
    min-width:80px !important;
    height: 43px;
    padding: 6px 0px 0 13px !important;
  }
  .inputouter{
    font-size: 10px !important;
    padding-left: 10px !important;
  }

}
@media(max-width:380px) {
  .inputouter{
    position: relative;
  }
  .inputouter .button {
    min-width: 30px !important;
    padding: 6px 0px 0 13px !important;
    position: absolute;
    right: 0px;
    top:0px;
  }
  .topimgSec h3{
    font-size: 16px;
  }
}
@media(max-width:350px) {
  .inputouter {
    font-size: 8px !important;
    padding-left: 5px !important;
  }
}
.mClose{
  z-index: 5555 !important;
}