@import "../../components/_styleVars.scss";

.ui.container.settingPage{
    margin-top: 173px;
    max-width: 1170px !important;
    padding: 80px 0px 0 0 !important;  

    .userFormHeader{
        margin-top: -129px;

        h1{
            color: #fff;
        }
    }

    .settingList{
        justify-content: space-between;
        padding-top: 27px;
        padding-bottom: 27px;
        border-bottom:1px solid #f6f6f6;

        .settingListdesc{
            max-width:calc(100% - 200px);
            width:100% !important;
            font-size: 14px;
            color:$lightColor;
            padding-left: 139px;
            position: relative;

            &:before{
                position: absolute;
                content:'';
                width: 75px;
                height: 75px;
                background: #f9f9f9 url(../../images/setting-icons.png) no-repeat;
                border:1px solid #f1f1f1;
                border-radius: 50%;
                left:35px;
                top:50%;
                transform: translateY(-50%);
            }

            &:before{
                background-position: 0 0;
            }
            b{
                font-size: 18px;
                color: $darkColor;
                margin-bottom: 10px;  
                display: inline-block;
            }
        }
        &.emailVerification{
            .settingListdesc{
                &:before{
                    background-position: -25px -26px;
                }
            }
        }
        &.verifyAccount{
            .settingListdesc{
                &:before{
                    background-position: -25px -154px;
                }
            }
        }
        &.passwordR{
            .settingListdesc{
                &:before{
                    background-position: -25px -280px;
                }
            }
        }
        &.googleAuth{
            .settingListdesc{
                &:before{
                    background-position: -25px -406px;
                }
            }
        }
        &.smsAuth{
            .settingListdesc{
                &:before{
                    background-position: -25px -532px;
                }
            }
        }
       
        .settingListBtn{
            text-align: right;
            padding-right: 30px;
            max-width: 200px;           
        }
    }

    .sectionRow{
        margin:0 20px;

        .extoRefHeader{
            h2{
                font-size: 22px;
                color:$darkColor;
                margin-top: 11px;
            }
        }
        &.highLighted{
            border:0px;
            background: #f6f6f6;
            margin:0 30px;
            
            &::before{
                display: none;
            }
            h3{
                font-size: 14px;
                font-weight: 400;
                color: #bbb9b9;
                margin-bottom: 0;
               
            }
            p{
                font-weight: 600;
                font-size: 15px;
                color: #333;
            }
        }
        &.sectionTradingAccountsetting{
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            &::before{
                display: none;
            }

            > div{
                background: #f6f6f6;
                padding:0 0;
                max-width: 49%;
                border-radius: 8px;

                h3{
                    background: #bbbbbb;
                    font-size: 18px;
                    font-weight: 700;
                    color: #fff;
                    box-sizing: border-box;
                    padding: 14px 18px;
                    border-radius: 8px 8px 0 0;
                }
                p{
                    padding: 14px 18px;
                }
                
            }
        }
        .accSetting{
            padding-left: 18px;
            padding-right: 18px;
            margin-bottom: 14px;
            .item{
                padding-top: 8px;
                padding-bottom: 8px;
            }
            .content {
                display: inline-block;
            }
        }

    }
    
    
  }
.setting-row {
    margin-left:0 !important;
    margin-right:0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .row {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
    }
}
.ui.small.modal.googleAuthModal {
    height: 500px;
    .content {
        padding: 50px;
        img {
            max-width: 30%;
            margin-bottom: 30px;
        }
    }
}