@import "../../components/_styleVars.scss";

ui.form input {
  border-radius: 5px;
}
.ui.form .twelve.wide.field {
  width: 100%!important;
}
.ui.small.modal.changePasswordModal {
  position: relative;
  height: 400px;
  width: 500px;
  a.mClose {
    position: absolute;
    top: 12px;
    right: 12px;
    text-align: center;
    line-height: 43px;
    transition: all .35s;
    cursor: pointer;
    i.link.icon {
      cursor: pointer;
      opacity: 1;
      transition: opacity .1s ease;
      font-size: 16px;
      margin: 0;
      color: #666;
    }
    &:hover{
      .link.icon {
        color: $baseColor;
      }
    }
  }
}
